.phoneInput {
  position: relative;
  height: fit-content;
}

.phoneInputGroup {
  display: flex;
  align-items: center;
  border: 1px solid #ebedf7;
  transition: all 0.3s ease;
  border-radius: 5px;
  background-color: var(--input-grey);
}

.phoneInputGroup > :nth-child(1) {
  width: 130px;
}
.phoneInputGroup > :nth-child(2) {
  width: calc(100% - 130px);
}

.phoneInputInput {
  padding: 16px 13px 12px 10px;
  color: var(--grey);
  transition: all 0.3s ease 3s;
  border-radius: 5px;
  font-family: var(--proxima-nova);
  border: none;
  font-size: 16px;
  background-color: transparent;
}

.phoneInputInput:focus {
  border: none;
  outline: none;
}

.phoneInputInput::placeholder {
  color: #a6b7c8;
  opacity: 1;
}

.phoneInputInput:focus::placeholder {
  opacity: 0;
}

.phoneInputLabel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--input-grey);
  transition: all 0.3s ease;
  z-index: 10;
  padding: 13px 16px 12px 13px;
  pointer-events: none;
  border-radius: 5px;
  border: 1px solid var(--gray-stroke);
}

.phoneInputLabel .phoneInputLabelText {
  font-size: 16px;
  color: var(--grey);
  font-family: var(--proxima-nova);
  position: absolute;
  top: 13px;
  left: 16px;
  z-index: 1000;
  transition: all 0.3s ease;
}

.focusedLabel {
  background-color: transparent;
  border: none;
}

.focusedLabel .phoneInputLabelText {
  font-size: 14px;
  color: var(--blue-900);
  top: 0;
  left: 16px;
  display: inline-block;
  background-color: #fff;
  padding: 0 5px;
  transform: translateY(-50%);
  opacity: 1;
}

.focusedInputGroup {
  background-color: #fff;
  border: 1px solid var(--blue-500);
}

.inputGroupError {
  font-size: 12px;
  color: var(--red);
  font-family: var(--aileron);
  display: block;
  margin-top: 5px;
}

.countrySelectOption {
  display: flex;
  align-items: center;
}

.countrySelectOptionFlag {
  width: 20px;
  margin-right: 5px;
}
